* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: cursive;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fantasy {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}

.cloud {
    position: absolute;
    mix-blend-mode: overlay;
}

.cloud:nth-of-type(1) {
    top: 20%;
    left: 10%;
}

.cloud:nth-of-type(2) {
    top: 10%;
    left: 30%;
}

.cloud:nth-of-type(3) {
    top: 15%;
    right: 20%;
}

.boat {
    position: absolute;
    bottom: 15%;
    left: 15%;
}

.title {
    font-size: 120px;
    color: var(--color);
    text-shadow: 0 0 10px red,
        0 0 20px red,
        0 0 30px red,
        0 0 40px red;
}

.div {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img {
    position: absolute;
    transition: 0.5s all linear;
}

.img:nth-of-type(1) {
    width: 140%;
    height: 140%;
    left: -20%;
    top: -20%;
    object-fit: cover;
    object-position: center;
}

.img:nth-of-type(2) {
    left: 10%;
    top: 15%;
}

.img:nth-of-type(3) {
    right: 20%;
    top: 25%;
}

.box {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.card {
    width: 250px;
    height: 300px;
    background-color: hotpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 50px;
    color: greenyellow;
    border-radius: 30px;
    font-weight: 500;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: #fff;
    font-size: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

:root {
    --color: blue;
}

.btn::after {
    content: "";
    width: 0;
    height: 0;
    background-color: var(--color);
    position: absolute;
    left: var(--x);
    top: var(--y);
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: 0.3s all linear;
}

.btn:hover::after {
    width: 500px;
    height: 500px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.info__card {
    width: 250px;
    height: 250px;
    background-image: url(../images/mushu.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
        0 0 20px rgba(0, 0, 0, 0.3),
        0 0 30px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.3);
        color: #fff;
        font-size: 30px;
   
}
.info__box{
    perspective: 1000px;
}